* {
  margin: 0;
  padding: 0;
}

a {
  color: #6b1e3f;
}
html,
body {
  /* brukte KI for fargene */
  background-color: #d9c9a3;
  min-height: 100%;
  color: #6b1e3f;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  gap: 1rem;
  padding: 10px;
  list-style: none;
}

main {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

main section {
  border: 2px solid rgb(245, 120, 70);
  border-radius: 10px;
  padding: 5px;
  max-width: 20vw;
}

section img {
    padding-top: 5px;
    width: 20vw;
    border-radius: 10px;
}

footer {
  display: flex;
  align-items: flex-end;
  margin: auto 0 0 0;
  padding: 10px 50px;
}

footer ul {
  margin: 0 auto 0 0;
}

footer p {
  margin: 0 0 0 auto;
}
