* {
  margin: 0;
  padding: 0;
}

body {
  /* brukte KI for fargene */
  background-color: #d9c9a3;
  color: #6b1e3f;
}

header {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  gap: 1rem;
  padding: 10px;
  list-style: none;
}

.del1,
.del2,
.del3 {
  margin: 10px 50px 0 50px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 25vw;
  min-height: 100vh;
}

footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 10px;
}

footer ul {
  margin-right: auto;
  padding: 0 0 0 50px;
  list-style: none;
}

footer p {
  padding: 0 50px 0 0;
}
